@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #d79921;
  transform: scale(1.1);
}

a {
  display: inline-block;
  color: #fabd2f;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

svg {
  width: 2rem;
  height: 2rem;
  color: #458588;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

svg:hover {
  color: #83a598;
  transform: scale(1.1);
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #282828;
  color: #fabd2f;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #fe8019;
}

h3 {
  text-align: left;
  padding-bottom: 10px;
  font-size: 2rem;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem 0;
}

.container {
  padding: 3rem 0;
  margin: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1110px) {
  .container {
    margin: 0 2rem;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
  color: #ebdbb2;
  font-size: 1rem;
}

.right {
  position: relative;
  width: 48%;
  color: #b8bb26;
  background-color: #1d2021;
  border-radius: 10px;
  border: 1px solid #b8bb26;
  box-shadow: 0 4px 5px rgba(184, 187, 38, 0.4);
  overflow: hidden;
}

.right img {
  display: block;
  width: 80%;
  height: auto;
  margin: 2% auto;
}

.about {
  padding: 0px 20px;
}

.section {
  padding: 10px 0px;
}

.social {
  gap: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.terminal {
  position: absolute;

  bottom: 1rem;
  left: 1rem;
  font-family: monospace;
  font-size: 1rem;
  color: #b8bb26;
  padding: 0.3rem 0.6rem;
}

.terminal::after {
  content: "";
  display: inline-block;
  width: 0.5rem; /* adjust as needed */
  height: 1rem; /* adjust as needed */
  background-color: currentColor; /* uses the terminal's text color */
  margin-left: 0.5rem;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
